@media (max-width: 768px) {
  span.light-logo {
    height: auto !important;
  }
  .main-header > div .logo .logo-lg img {
    height: 60px !important;
  }
  .box_supar_admin .box-body {
    margin-top: 0px;
    padding: 0;
  }
  .content {
    padding: 5px;
  }
  .fixed .content-wrapper {
    margin-top: 75px;
  }
  #filter_lead_stats_count .form-control,
  #filter_lead_stats_count .form-select,
  .quick-filter-box .form-control,
  .quick-filter-box .form-select,
  .new_modal_design select,
  .new_modal_design input,
  .new_modal_design textarea,
  div.dataTables_wrapper div.dataTables_filter input,
  div.dataTables_wrapper .dataTables_length select,
  .form-control,
  .form-select,
  div#server-side-data-table_filter label,
  .select2-container--default .select2-selection--multiple {
    font-size: 12px !important;
    height: 42px;
  }
  #filter_lead_stats_count .col-md-3,
  #filter_lead_stats_count .col-md-2 {
    margin-top: 0px !important;
    width: 50%;
  }
  #filter_lead_stats_count .col-md-3:last-child {
    width: 100%;
  }
  #filter_lead_stats_count {
    padding: 0px !important;
    padding-top: 24px !important ;
  }
  .stage-flex {
    gap: 6px !important;
    /* flex-wrap: wrap!important */
  }
  .stage-title {
    font-size: 10px !important;
    font-weight: 500 !important;
    margin-bottom: 4px !important;
    letter-spacing: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
  }
  .lead-count {
    font-size: 16px !important;
  }
  .stage-card {
    padding: 9px 11px !important;
    height: auto !important;
    margin-bottom: 10px !important;
  }
  div#top_stats_html .row.mt-3 {
    margin-top: 0px !important;
  }
  .revenue-box {
    font-size: 11px !important;
    padding: 0 !important;
  }
  div#top_stats_html {
    box-shadow: none !important;
  }
  div#top_stats_html .col-xl-3.col-md-6.col-12 {
    width: 50%;
  }
  .stage-card .icon-box {
    width: 42px !important;
    height: 41px !important;
    border-radius: 8px !important;
    font-size: 21px !important;
    margin-bottom: 0 !important;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    -ms-border-radius: 8px !important;
    -o-border-radius: 8px !important;
  }
  .quick-filter-box .col-md-3,
  .quick-filter-box .col-md-2 {
    width: 50%;
    margin-top: 0 !important;
  }
  .quick-filter-box .col-md-2:last-child {
    width: 100%;
    margin-top: 12px !important;
    margin-bottom: 8px;
  }
  .responsive_logo img {
    width: 99px;
  }
  .mobile_hide {
    display: none !important;
  }
  a.waves-effect.waves-light.btn-primary-light.svg-bt-icon {
    background: transparent;
    color: #000;
    padding-right: 0;
    padding-left: 0;
    margin: 0;
    top: 4px;
  }
  a.waves-effect.waves-light.btn-primary-light.svg-bt-icon svg {
    color: #000;
  }
  .theme-primary .bg-primary-light {
    background-color: #9f8be7 !important;
    color: #23211d;
    /* background-color: transparent!important; */
    width: 30px !important;
    height: 30px !important;
  }
  .main-header .navbar-custom-menu .navbar-nav > li:last-child > a {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-sidebar {
    margin-top: 80px;
  }
  .custom-page-header {
    padding: 0px 0px;
    margin: 22px 3px;
    padding-left: 10px;
    margin-bottom: 9px;
  }
  .header-title {
    font-size: 18px;
    margin-bottom: 6px;
  }
  .custom-breadcrumb {
    gap: 3px;
    padding: 0;
    margin: 0;
    font-size: 10px;
  }
  .header-left {
    gap: 11px;
    z-index: 2;
    padding: 8px 0;
  }
  .header-banner {
    display: none;
  }
  .custom-breadcrumb li {
    font-size: 8px;
  }
  .custom-breadcrumb i {
    font-size: 11px;
  }
  .header-icon-box {
    width: 35px;
    height: 35px;
  }
  .header-icon-box i {
    font-size: 18px;
  }
  .new_table_box .box-header {
    padding: 11px 13px;
  }
  .new_table_box .box-title {
    font-size: 18px;
  }
  .new_table_box .box-body {
    padding: 0 10px;
  }
  .new_table_box .dataTables_length {
    margin-bottom: 0;
  }
  .new_table_box table thead th {
    font-size: 12px;
  }
  .new_table_box table tbody td {
    font-size: 13px;
  }
  table.dataTable > tbody > tr > th,
  table.dataTable > tbody > tr > td {
    padding: 2px 5px;
  }
  div.dataTables_wrapper div.dataTables_info {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 12px;
  }
  .main-footer {
    padding: 7px 4px;
    font-size: 11px !important;
  }
  .modal-footer {
    padding: 7px 11px;
  }
  .theme-primary .btn-primary,
  .new_modal_design .justify-content-start button.btn.btn-primary-light,
  .new_button {
    height: auto;
  }
  div#server-side-data-table_filter,
  div#complex_header_filter {
    float: right;
    margin: 0;
    padding-top: 24px;
    width: 58%;
  }
  div#server-side-data-table_length label {
    display: inline-grid;
    text-align: justify;
    margin-bottom: 13px;
    padding-left: 12px;
  }
  div#server-side-data-table_length label select {
    margin-left: 0;
  }
  .dataTables_wrapper .dataTables_paginate {
    text-align: right !important;
  }
  .new_table_box {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }

  /* ======= Agent login ======== */
  .main-header .push-btn,
  .main-header .full-screen,
  .main-header .svg-bt-icon,
  .main-header .skin-toggle {
    height: 35px;
    width: 35px;
    padding: 0;
    line-height: 35px;
  }
  .switch {
    line-height: normal;
  }
  .main-header .navbar-custom-menu .navbar-nav > li {
    height: auto;
  }
  a.waves-effect.waves-light.nav-link.push-btn.btn-primary-light {
    top: 0;
  }
  .navbar-custom-menu .navbar-nav {
    gap: 6px;
  }
  #filter_lead_stats_count .col-md-2:last-child {
    width: 100%;
  }
  .stage-card:before {
    width: 2px !important;
    border-radius: 8px !important;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    -ms-border-radius: 8px !important;
    -o-border-radius: 8px !important;
  }
  .stage-flex .left-content {
    width: 62%;
  }
  .quick-filter-box .box-body {
    padding: 10px 10px !important;
  }
  .quick-filter-box .box-title {
    font-size: 15px !important;
  }
  .box-header {
    padding: 14px 10px !important;
    border: 0px !important;
  }
  .responsive_logo {
    display: block !important;
  }
  .card-body {
    padding: 15px;
  }
  .form-label {
    margin-bottom: 3px !important;
    font-size: 13px !important;
  }
  .report-filter-card
    .select2-container
    .select2-selection--single
    .select2-selection__rendered {
    padding-left: 0 !important;
    line-height: 40px !important;
  }
  .report-filter-card {
    padding: 0px !important;
    border: 0px solid #ececf3 !important;
  }
  .new_modal_design {
    display: none;
    align-items: center;
    justify-content: center;
    padding: 14px;
    background: rgba(15, 23, 42, 0.35);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(6px);
  }
  .new_modal_design {
    padding: 14px;
    background: rgba(15, 23, 42, 0.35);
    backdrop-filter: blur(4px);
  }
  .new_modal_design .modal-content {
    border-radius: 8px;
  }
  .treeview-menu > li > a > i {
    padding-right: 3px !important;
    padding-left: 1px !important;
  }
  div#lead_container .d-flex {
    display: block !important;
  }
  #confirmCallModal .modal-content {
    border-radius: 8px !important;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    -ms-border-radius: 8px !important;
    -o-border-radius: 8px !important;
  }
  .box-body {
    padding: 0;
  }
  .box.lead_report_container .row .col-md-6 {
    margin-bottom: 10px;
  }
  .form-group label {
    margin-bottom: 3px;
  }
  #callProgressModal .modal-content {
    border-radius: 8px !important;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    -ms-border-radius: 8px !important;
    -o-border-radius: 8px !important;
  }
  form#leadEditForm .col-md-4,
  div#Edit_dynamicFields .col-lg-4.col-md-6,
  div#Edit_dynamicFields .col-lg-4.col-md-12.col-sm-12,
  .row.ticket-section .col-md-6.mb-3 {
    width: 50% !important;
  }

  /* ============ lead resposnive ========== */
  .row.lead_list_main_data.mb-3 .col-md-3.col-sm-6.mb-2 i {
    display: none;
  }
  .row.lead_list_main_data.mb-3 .col-md-3.col-sm-6.mb-2 {
    border-radius: 5px;
    padding: 5px 2px;
    width: 44%;
    margin-top: 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 12px;
  }
  .row.lead_list_main_data.mb-3 .col-md-3.col-sm-6.mb-2 strong {
    display: none;
  }
  .row.lead_list_main_data.mb-3 {
    gap: 9px;
    margin-top: 0px;
  }
  .guest-comment {
    border-radius: 5px;
    padding: 8px 9px;
    font-size: 11px;
    margin-bottom: 0 !important;
  }
  .lead_Quotation_details [id^="disposition"] {
    display: none;
  }
  .lead_Quotation_details {
    gap: 5px;
    margin-top: 0px;
    padding-top: 10px;
    margin-bottom: 6px;
  }
  .lead_Quotation_details .btn {
    height: auto;
    padding: 5px 7px;
    border-radius: 5px;
    font-size: 11px;
    width: auto;
    display: inline-block;
  }
  .lead_Quotation_details .btn i {
    display: none;
  }
  .row.lead_list_main_data.mb-3 .col-md-3.col-sm-6.mb-2 span {
    font-size: 12px;
  }
  .lead_edtid_broder a,
  .lead_edtid_broder_child,
  .lead_edtid_broder span.badge.bg-secondary-light {
    padding: 5px 7px;
    border-radius: 4px;
    font-size: 10px;
  }
  .lead_edtid_broder {
    gap: 8px;
    justify-content: left;
    margin-top: 11px;
    flex-wrap: wrap;
  }

  .lead_edtid_broder_child_name_bnt {
    gap: 6px;
    display: flex;
    margin-top: 11px;
  }
  .lead_edtid_broder_child_name i {
    width: 28px;
    height: 28px;
    margin-right: 2px;
  }
  .lead_edtid_broder_child_name strong {
    font-weight: 600;
    font-size: 13px;
  }
  .card.lead_card_ac {
    position: relative;
    overflow: hidden;
    border-radius: 22px;
    /* border: 1px solid rgba(226,232,240,.9); */
    background: linear-gradient(
      135deg,
      #ffffff 0%,
      #fcfdff 35%,
      #f5f8ff 100%
    ) !important;
    box-shadow:
      rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition: all 0.35s ease;
    border-bottom: 1px solid #000 !important;
    padding: 7px 10px !important;
  }
  .lead_edtid_broder_child_name:after {
    bottom: -5px;
  }
  .badge {
    font-size: 75%;
  }
  .col-auto {
    flex: 0 0 auto;
    width: auto;
    padding: 3px 5px;
  }
  .box.lead_report_container .table-responsive .container.my-4 {
    margin-top: 5px !important;
  }
  .row.mt-2.responsive_lead-report .col-md-6:first-child {
    width: 60%;
  }
  .row.mt-2.responsive_lead-report .col-md-6 {
    width: 37%;
  }
  .row.mt-2.responsive_lead-report .col-md-6:last-child {
    padding: 0;
  }
  .row.mt-2.responsive_lead-report input#lead-search {
    padding: 0px 6px;
    height: 30px;
    border-radius: 5px !important;
    font-size: 10px;
  }
  .row.mt-2.responsive_lead-report .col-md-6 .btn-sm {
    padding: 5px 6px;
    font-size: 12px;
    line-height: normal;
  }
  #confirmCallModal .btn {
    flex: none;
    height: auto;
    font-size: 14px;
    width: auto!important;
    padding: 0;
}
.lead_edtid_broder a, .lead_edtid_broder_child, .lead_edtid_broder span.badge.bg-secondary-light, .lead_edtid_broder button {
    padding: 4px 11px;
    border-radius: 4px;
    font-size: 11px;
}
.lead_edtid_broder_child span.badge {
    font-size: 11px !important;
}
.lead_edtid_broder span {
    font-size: 11px;
    color: #000;
}
.ticket-section .col-md-4.mb-3 {
    width: 50%;
}
.ticket-label {
    font-size: 11px;
    margin-bottom: 4px;
    letter-spacing: normal;
}
.ticket-value {
    min-height: 36px;
    border-radius: 4px;
    min-height: 36px;
    font-size: 12px;
    padding: 0 6px;
    line-height: 36px;
    height: 36px;
    -webkit-border-radius: 4px !important;
}
.ticket-section {
    margin: 0px 0px;
    margin-bottom: 8px;
    padding: 7px 5px;
}
#viewLeadModal .modal-title {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.box-header .col-md-3 {
    margin-bottom: 11px;
}
div#top_stats_html {
  margin-top: 20px;
}
div#chart_department ,div#chart_status,div#chart_disposition, div#chart_source, div#chart_guest_type, div#chart_template_name{
    height: 250px!important;
}
.chart-container {
    padding: 7px;
    margin-bottom: 10px;
}

}

